.card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(var(--color-border), 0.5);
    &Name{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
        width: 70%;
        &__img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
        &__title{
            font-weight: var(--font-w-bold);
        }
    }
    &Info{
        &__number{
            font-weight: var(--font-w-bold);
        }
        &__text{
            font-size: var(--font-s-text-large);
            color: rgb(var(--color-gray));
        }
    }
}