.review{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width:100%;
    background-color: rgb(var(--color-light));
    border: 1px solid rgba(var(--color-border), 0.5);
    border-bottom: 2px solid rgba(var(--color-border), 0.5);
}