.characters{
    max-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__title{
        color: rgb(var(--color-primary));
        font-size: var(--font-s-title-large);
        width: 100%;
        &:hover{
            text-decoration: underline;
        }
    }
    &__img{
        max-width: 180px;
        max-height: 260px;
    }
}