.preview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    &Rating{
        margin-top: 20px;
        margin-left: -5px;
        padding: 4px 10px;
        background-color: rgb(var(--color-rating));
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 5px;
        &__text {
            font-size: var(--font-s-text-large);
            font-weight: var(--font-w-bold);
        }
    }
    &__img {
        max-width: 150px;
        height: 210px;
    }
    &Info{
        display: flex; 
        flex-direction: column;
        gap: 10px;
        &__title {
            color: rgb(var(--color-primary));
            font-size: var(--font-s-title-large);
            width: 100%;
            &:hover{
                text-decoration: underline;
            }
        }
        &__name{
            font-size: var(--font-s-title-small);
            color: rgb(var(--color-gray));
        }
        &__tag{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            font-size: var(--font-s-text-small);
            gap: 5px;
            &_gray{
                color: rgb(var(--color-gray));
            }
            &Item{
                background-color: rgb(var(--color-primary));
                color: rgb(var(--color-light));
                padding: 2px;
                font-size: var(--font-s-text-default);
            }
        }
    }
    
}